:root {
  --primaryColor: hsl(212, 100%, 60%);
  --primaryColorLight: hsl(212, 100%, 70%);
  --primaryColorLighter: hsl(212, 10%, 94%);
  --primaryColorDarker: hsl(212, 100%, 50%);
  --backgroundColor: hsl(212, 0%, 97%);
  --backgroundColorLighter: hsl(212, 0%, 100%);
  --fontRegular: 18px;
  --fontLarge: 24px;
}

html {
  font-size: var(--fontRegular);
  background-color: var(--backgroundColor);
}

.pageContainer {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

